<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    
    <add name="TPPServer" connectionString="User id=website;Password=Tpp222;Server=172.21.40.134;Database=TPP_Test;integrated security=false" providerName="System.Data.SqlClient"/>
    <!--
    <add name="TPPServer" connectionString="data source=localhost;Database=TPP;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    -->
    <!--v21.pjwstk.edu.pl-->
    <!--
    <add name="TPPServer" connectionString="User id=website;Password=Tppv21TPP_test;Server=v21.pjwstk.edu.pl;Database=TPP_Test;integrated security=false" providerName="System.Data.SqlClient"/>
    
    <add name="TPPServer" connectionString="data source=localhost;Database=TPP_Test;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    -->
  </connectionStrings>
  <system.web>
    <sessionState timeout="240"></sessionState>
  </system.web>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" protection="All" timeout="2880"/>
		</authentication>
    <authorization>
      <deny users ="?" />
      <allow users = "*" />
    </authorization>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
