<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!-- changed from Windows -->
    <!--<authorization>
      <allow users="V21\MotionUsers"/>
      <deny users="*"/>
    </authorization>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>-->
    <services>
      <service behaviorConfiguration="ServiceFacadeServiceBehavior" name="MotionDBWebServices.BasicQueriesWS">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" bindingNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicQueriesService" contract="MotionDBWebServices.IBasicQueriesWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="ServiceFacadeServiceBehavior" name="MotionDBWebServices.BasicUpdatesWS">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" bindingNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/BasicUpdatesService" contract="MotionDBWebServices.IBasicUpdatesWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="ServiceFacadeServiceBehavior" name="MotionDBWebServices.FileStoremanWS">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" bindingNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/FileStoremanService" contract="MotionDBWebServices.IFileStoremanWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="ServiceFacadeServiceBehavior" name="MotionDBWebServices.AuthorizationWS">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" bindingNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/AuthorizationService" contract="MotionDBWebServices.IAuthorizationWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="ServiceFacadeServiceBehavior" name="MotionDBWebServices.UserPersonalSpace">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" bindingNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/UserPersonalSpaceService" contract="MotionDBWebServices.IUserPersonalSpaceWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="ServiceFacadeServiceBehavior" name="MotionDBWebServices.AdministrationWS">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" bindingNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/AdministrationService" contract="MotionDBWebServices.IAdministrationWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="MotionDBWebServices.SampleOpsWSBehavior" name="MotionDBWebServices.SampleOpsWS">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" bindingNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/SampleOpsService" contract="MotionDBWebServices.ISampleOpsWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="MotionDBWebServices.AccountFactoryWSBehavior" name="MotionDBWebServices.AccountFactoryWS">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBinding" bindingNamespace="http://ruch.bytom.pjwstk.edu.pl/MotionDB/AccountFactoryService" contract="MotionDBWebServices.IAccountFactoryWS">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceFacadeServiceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MotionDBWebServices.CustomAuthValidator, MotionDBWebService"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="MotionDBWebServices.AuthorizationManager, MotionDBWebService">
            <authorizationPolicies>
              <add policyType="MotionDBWebServices.AuthorizationPolicy, MotionDBWebService"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
        <behavior name="MotionDBWebServices.BasicUpdatesWSBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MotionDBWebServices.CustomAuthValidator, MotionDBWebService"/>
          </serviceCredentials>
        </behavior>
        <behavior name="MotionDBWebServices.FileStoremanWSBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MotionDBWebServices.CustomAuthValidator, MotionDBWebService"/>
          </serviceCredentials>
        </behavior>
        <behavior name="MotionDBWebServices.AuthorizationWSBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MotionDBWebServices.CustomAuthValidator, MotionDBWebService"/>
          </serviceCredentials>
        </behavior>
        <behavior name="MotionDBWebServices.UserPersonalSpaceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MotionDBWebServices.CustomAuthValidator, MotionDBWebService"/>
          </serviceCredentials>
        </behavior>
        <behavior name="MotionDBWebServices.AdministrationWSBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MotionDBWebServices.CustomAuthValidator, MotionDBWebService"/>
          </serviceCredentials>
        </behavior>
        <behavior name="MotionDBWebServices.SampleOpsWSBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MotionDBWebServices.CustomAuthValidator, MotionDBWebService"/>
          </serviceCredentials>
        </behavior>
        <behavior name="MotionDBWebServices.AccountFactoryWSBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="MotionDBWebServices.CustomDummyValidator, MotionDBWebService"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MyBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
            <!-- changed -->
          </security>
        </binding>
        <binding name="NonAuthenticated">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <roleManager enabled="true" defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="MotionDBWebServices.CustomRoleProvider, MotionDBWebService"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>